.department {
  padding: 25px 25px 0px 25px;
}

.department > .yearSection {
  margin: 20px auto;
}

.department > .yearSection > h2 {
  color: #209f15;
}

.department > .yearSection > .chip-container {
  margin-top: 35px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.department > .yearSection > .chip-container > button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  background-color: #d3d3d3;
  color: #868686;
  cursor: pointer;
}

.selectedYear {
  background-color: #37bc2b !important;
  color: white !important;
}

.department > .yearSection > .chip-container > button:not(:last-child) {
  margin-right: 10px;
}

.department > .yearSection > .chip-container > button > p {
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 500;
}

.department > .departmentsSec {
  margin-top: 50px;
}

.department > .departmentsSec > .sectionTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.department > .departmentsSec > .sectionTitle > h2 {
  color: #209f15;
  margin-right: 40px;
  font-weight: bold;
}

.department > .departmentsSec > .sectionTitle > svg {
  cursor: pointer;
}

.departmentCards {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  grid-gap: 10px;
  margin-top: 30px;
}

.departmentCards > .departmentCardItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #eeeeee;
  color: #838383;
  width: 15vw;
  height: 18vh;
  border-radius: 20px;
  padding: 15px 28px;
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.departmentCards > .departmentCardItem:hover {
  background-color: #3abe2f;
  color: white;
}

.departmentCards > .departmentCardItem:not(:last-child) {
  margin-right: 40px;
}

.departmentCards > .departmentCardItem > .cardTitle {
  font-size: 2rem;
  font-weight: 500;
}

.departmentCards > .departmentCardItem > .cardTitleFull {
  font-size: 1.2rem;
}
.departmentCards > .departmentCardItem > .cardOwner {
  margin-top: auto;
}

.departmentCards > .departmentCardItem::before {
  content: "";
  position: absolute;

  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 0.43) 0%,
    rgba(236, 236, 236, 0) 100%
  );
  top: 0;
  right: 100px;
  height: 100%;
  width: 100px;
  transition: all 0.3s ease-in-out;
  transform: skew(-30deg, 0deg);
}
