.lyt_subject_wrapper {
    padding: 25px 20px 0px 20px;
    .subject_wrapper_content {
        @include displayFlex(column, center, auto);

        margin-top: 30px;
        .wrapper_content_card {
            background-color: #3ABE2F;
            color: white;
            padding: 10px 20px;
            border-radius: 10px;
            
            h2{
                font-size: 2.5vw;
            }
        }
        .wrapper_content_sectionTitle {
            margin: 20px 0;
            font-size: 1.9vw;
            font-weight: 600;
        }
        .wrapper_content_resourceList {
            li {
                background: #FAFFFA;
                border: 1px solid rgba(0, 0, 0, 0.17);
                box-sizing: border-box;
                border-radius: 10px;
                padding: 15px 10px;
                cursor: pointer;
                
            }
        }
    }
}