.bg_modal_wrapper {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 2;
    display: grid;
    place-items: center;

    .modal_wrapper_center {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .wrapper_center_modal {
            width: 30vw;
            height: auto;
            padding-right: 3rem;
            background: white;
            color: white;
            padding: 10px 20px;
            z-index: 10;
            border-radius: 5px;
            box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);

            .center_modal_closeBtn {
                position: absolute;
                top: 0;
                right: 0;
                padding: 5px;
                cursor: pointer;
                z-index: 10;
            }

            .center_modal_header {
                color: black;
                font-size: 2vh;
            }

            .center_modal_content {
                margin-top: 20px;

                .modal_content_form {
                    @include displayFlex(column, flex-start, flex-start);
                    gap: 10px;

                    .cat_select {
                        padding: 1rem 2rem;
                        border: 1px solid rgba(0, 0, 0, 0.14);
                        border-radius: 5px;
                        padding-left: 1rem;
                    }

                    input {
                        background: #ffffff;
                        border: 1px solid rgba(0, 0, 0, 0.14);
                        border-radius: 5px;
                        padding: 10px;
                        outline: none;
                        font-size: 1vw;
                        font-weight: 700;
                        font-family: $montserrat_font;
                        width: -moz-available;
                        width: 95%;
                    }

                    textarea {
                        font-size: 1vw;
                        width: -moz-available;
                        font-family: $montserrat_font;
                        background: #ffffff;
                        border: 1px solid rgba(0, 0, 0, 0.14);
                        outline: none;
                        padding: 10px;
                        border-radius: 5px;
                        resize: none;
                        width: 95%;
                    }

                    .content_form_noteInput {
                        height: 18vh;
                    }

                    .content_form_actionBtn {
                        @include displayFlex(row, flex-start, center);
                        gap: 10px;
                        margin-top: 20px;
                        width: -moz-available;
                        button {
                            @include displayFlex(row, center, center);
                            gap: 10px;
                            border-radius: 7px;
                            padding: 5px 8px;
                            cursor: pointer;
                            transition: 0.3s;
                        }
                        .form_actionBtn_reminder {
                            background: #ffffff;
                            border: 1px solid rgba(0, 0, 0, 0.18);
                            border-radius: 7px;
                        }
                        .form_actionBtn_addTask {
                            background: #3abe2f;
                            color: white;
                            margin-left: auto;
                        }
                        .form_actionBtn_deleteTask {
                            background: #d82148;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}
