.wrapper_popup_bg {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 2;

    .wrapper_popup_center {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .popup_center_content {
            width: 25vw;
            background: white;
            color: black;
            padding: 10px 20px;
            border: 1px solid rgba(0, 0, 0, 0.14);
            border-radius: 5px;
            z-index: 10;

            .center_content_header{
                color: black;
                font-size: 2vh;
                margin-top: 10px;
                h1{
                    font-size: 2.2vh;
                    font-weight: 400;
                }
            } 

            .center_content_actions {
                @include displayFlex(row, flex-start, center);
                gap: 10px;
                width: 100%;
                margin-top: 20px;

                button {
                    background: #3ABE2F;
                    color: white;
                    border: 1px solid rgba(0, 0, 0, 0.14);
                    border-radius: 10px;
                    padding: 5px 10px;
                    outline: none;
                    font-size: 1.3vw;
                    margin-left: auto;
                }
            }
        }
    }
}