.lyt_wrapper_forgotPassword {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;

    .wrapper_forgotPassword_form {
        @include displayFlex(column, center, center);
        gap: 20px;
        width: 25vw;
        h2 {
            font-size: 1.5vw;
            color: #3abe2f;
        }
        p {
            text-align: justify;
            font-size: 0.8vw;
            width: 100%;
            color: #2b2b2b85;
        }

        .forgotPassword_form_inputGrp {
            @include displayFlex(column, center, flex-start);
            gap: 10px;
            width: 100%;
            label {
                font-size: $font_size_1;
                font-family: $barlow_font;
                margin-bottom: 10px;
            }
            input {
                width: 100%;
                background: #ffffff;
                border: 1px solid rgba(0, 0, 0, 0.4);
                border-radius: 6px;
                padding: 10px;
                font-family: $barlow_font;
                font-size: 1vw;
                outline: none;
                transition: all 0.3s ease-in;
            }
        }

        .forgotPassword_form_btn {
            button {
                @include formButton();
            }
        }
    }
}
