@import "../components/cp_landing-navBar";
@import "../components/cp_landing_home";
@import "../components/cp_landing_features";
@import "../components/cp_landing_teams";

.wrapper_landing_page {
    width: 100vw;
    background: #f5f5f5;

    .landing_page_body {
        @include displayFlex(column, space-between, center);
        padding: 20px;
        padding-top: 0;
        padding-bottom: 0;
    }
}
