.wrapper_not_found {
    @include displayFlex(column, center, center);
    height: 100vh;
    .not_found_img{
        display: grid;
        place-items: center;

        img {
            width: 30vw;
            height: auto;
        }
    }

    h3 {
        margin-top: 20px;
        font-size: 2.5vw;
        font-family: $barlow_font;
        color: #40A137;
    }
}