@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Montserrat:wght@200;300;400;500;600&display=swap');

$barlow_font: "Barlow", sans-serif;
$montserrat_font: "Montserrat", sans-serif;
$title_color_green: #40A137;