@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Montserrat:wght@200;300;400;500;600&family=Poppins:wght@100;200;300;400;700&display=swap");

$barlow_font: "Barlow", sans-serif;
$montserrat_font: "Montserrat", sans-serif;
$poppins_font: "Poppins", sans-serif;
$title_color_green: #40a137;
$font_size_1: 1.2vw;
$dashboardPadding: 20px 25px 0 25px;
