@import "./config/_variables";
@import "./config/_mixins";
@import "./layout/lyt-modelWrapper";
@import "./layout/lyt-todo";
@import "./layout/lyt_landing";
@import "./layout/lyt_login";

html {
    font-size: 10px;
}

li {
    list-style: none;
    text-decoration: none;
}