@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import "./config/animation";
@import "./config/_variables";
@import "./config/_mixins";
@import "./layout/lyt-modelWrapper";
@import "./layout/lyt-todo";
@import "./layout/lyt_landing";
@import "./layout/lyt_login";
@import "./layout/lyt_register";
@import "./layout/lyt_modal";
@import "./layout/lyt_not_found";
@import "./layout/lyt_myWork";
@import "./layout/lyt_notification";
@import "./layout/lyt_popup";
@import "./layout/lyt_deartment_subject";
@import "./layout/lyt_settings";
@import "./layout/lyt_loader";
@import "./layout/lyt_department";
@import "./layout/lyt_forgotPassword";
@import "./layout/lyt_live_classes";
@import "./layout/lyt_joinMeeting";
@import "./components/cp_emptyState";
@import "./layout/lyt_searchPage";

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease-in-out;
    outline: none;
    scroll-behavior: smooth;
}

html {
    font-size: 10px;
}

li {
    list-style: none;
    text-decoration: none;
}

.btn {
    outline: none;
    border: none;
    cursor: pointer;
    background: none;

    display: grid;
    place-items: center;
}

input {
    caret-color: #3abe2f;
    outline: none;
}

a {
    cursor: pointer !important;
    text-decoration: none;
}

.d-none {
    display: none;
}

td {
    height: fit-content;
}

.fc-view-harness.fc-view-harness-active {
    height: 80vh !important;
}

.fc.fc-media-screen.fc-direction-ltr.fc-theme-standard {
    padding: 2rem;
    margin-top: 2rem;
}

.fc-prev-button,
.fc-next-button {
    background-color: #3abe2f !important;
    border: none !important;
    margin: 0px 5px !important;
}

.fc-day-today {
    background-color: #3abe2f !important;
    color: #fff !important;
}
<<<<<<< HEAD
=======

.subject_label {
    font-size: 1.2rem;
    font-weight: bold;
}

.subject_select {
    display: block;
    margin-top: 20px;
    border: 1px solid #3abe2f;
    border-radius: 5px;
    padding: 10px 20px;
}

.subject_input {
    display: block;
    margin-top: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px 20px;
}

.fc-event-time {
    display: none;
}

.fc-event-title {
    font-size: 1rem;
}

.react-datetime-picker__inputGroup {
    height: fit-content;
    border: none;
}

.react-datetime-picker__wrapper {
    border: none;
}

.meeting_title {
    font-size: 1.5rem;
    font-weight: bold;
}

.meeting_desc {
    font-size: 1.2rem;
}

.meeting_joinBtn {
    border: none;
    background-color: transparent;
}
>>>>>>> 3a6620a52aa0f709114da97004aefe6c9eb2a217
